.twitter-border-color {
    @apply border-gray-600/50;
  }
  .surfing-nav {
    @apply h-full w-full px-4 pt-4 select-none;
  }
  .surfing-nav span {
    @apply pb-4;
  }
  .surfing-link-hover {
    @apply hover:bg-blue-200 transition duration-200 hover:bg-opacity-15 cursor-pointer;
  }
  .bg-dark-gray {
    @apply bg-[#16181C];
  }
  .btn-primary {
    @apply font-semibold text-center hover:bg-opacity-90 transition duration-200 rounded-full bg-primary;
  }
  .icon-hover {
    @apply text-xs p-2 flex flex-row items-center transition duration-200 cursor-pointer rounded-full;
  }
  .active {
    @apply font-semibold;
  }